<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- MY FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Viga" rel="stylesheet">

    <!-- MY CSS -->
    <link rel="stylesheet" href="../css/experiences.css">

    <!-- ICON TITLE BAR -->
    <link href='../img/icon-title.jpg' rel='shortcut icon'>

    <title>PT.SURYA BUANA MANDALA</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="../index.html">
          <img src="../img/logo.jpg" alt="">
          <!-- SURYA BUANA MANDALA -->
        </a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="../index.html">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="../component/clients.html">Clients</a>
            <a class="nav-item nav-link" href="../component/experiences.html">Experiences</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Portfolio
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="../component/gallery-project.html">Gallery Project</a>
                <a class="dropdown-item" href="../component/work-method.html">Work Method</a>
                <a class="dropdown-item" href="../component/equipment-consumable.html">Equipment And Consumable</a>
              </div>
            </li>
            <a class="nav-item nav-link" href="../component/about.html">About Us</a>
            <a class="nav-item btn btn-outline-light" href="../component/contact.html">Contact Us</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- AKHIR NAVBAR -->
    <section class="experiences" id="experiences">
      <div class="container">
        <h1 class="display-4"><span>EXPERIENCES LIST</span></h1>
        <h2>PT. SURYA BUANA MANDALA</h2>
        <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-2020-tab" data-toggle="pill" href="#pills-2020" role="tab" aria-controls="pills-2020" aria-selected="true">2020</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-2019-tab" data-toggle="pill" href="#pills-2019" role="tab" aria-controls="pills-2019" aria-selected="false">2019</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-2018-tab" data-toggle="pill" href="#pills-2018" role="tab" aria-controls="pills-2018" aria-selected="false">2018</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-2017-tab" data-toggle="pill" href="#pills-2017" role="tab" aria-controls="pills-2017" aria-selected="false">2017</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-2016-tab" data-toggle="pill" href="#pills-2016" role="tab" aria-controls="pills-2016" aria-selected="false">2016</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-2015-tab" data-toggle="pill" href="#pills-2015" role="tab" aria-controls="pills-2015" aria-selected="false">2015</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-2014-tab" data-toggle="pill" href="#pills-2014" role="tab" aria-controls="pills-2014" aria-selected="false">2014</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-2013-tab" data-toggle="pill" href="#pills-2013" role="tab" aria-controls="pills-2013" aria-selected="false">2013</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-2012-tab" data-toggle="pill" href="#pills-2012" role="tab" aria-controls="pills-2012" aria-selected="false">2012</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-2020" role="tabpanel" aria-labelledby="pills-home-tab">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">NO</th>
                  <th scope="col">NAME OF CLIENT</th>
                  <th scope="col">PROJECT</th>
                  <th scope="col">LOCATION</th>
                  <th scope="col">YEAR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>PT. JURONG ENGINEERING LESTARI</td>
                  <td>PWHT SERVICE AND HARDNESS TEST FOR B1-MTBE PROJECT PT. CHANDRA ASRI PETROCHEMICAL</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2020</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>PT. SANKYU INDONESIA INTERNATIONAL</td>
                  <td>PWHT SERVICE FOR PT. ASC PROJECT</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2020</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>PT. MEIDEN ENGINEERING INTERNATIONAL</td>
                  <td>FIRE ALARM INSTALLMENT FOR PT.NSI PROJECT</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2020</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>PT. SENTRA MEKANINDO TEGAR MANDIRI</td>
                  <td>PWHT SERVICE</td>
                  <td>DEPOK-JAWA BARAT</td>
                  <td>2020</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>PT. TOKKI ENGINEERING AND FABRICATION</td>
                  <td>PWHT SERVICE FOR PT.ASC PROJECT</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2020</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="pills-2019" role="tabpanel" aria-labelledby="pills-2019-tab">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">NO</th>
                  <th scope="col">NAME OF CLIENT</th>
                  <th scope="col">PROJECT</th>
                  <th scope="col">LOCATION</th>
                  <th scope="col">YEAR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>MAGNETIC AND PENETRANT CHECK (AV-1301 A)</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>UT CHECK AR-1401AB (JACKET WELDING)</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>DISNAKER INSPECTION SAP</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>RADIOGRAPHY AND PWHT 2AA HTS</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>DISNAKER INSPECTION 1AA</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>TANK INSPECTION AV-1300A</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>PREHEAT AND POSTHEAT JOB AE-1005C</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>PT. SHINKO PLANTECH</td>
                  <td>HRR PROJECT TO PT. CHANDRA ASRI PETROCHEMICAL</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>PT. SANKYU INDONESIA INTERNATIONAL</td>
                  <td>PWHT AND HARDNESS TEST TO PT. CHANDRA ASRI PETROCHEMICAL</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>FIRE ALARM INSPECTION AND CERTIFICATION (SAP)</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">11</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>0.6 MS PIPE LINE INSPECTION (2AA)</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">12</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>EDDY CURRENT TESTING FOR UQ-1150</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">13</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>CERTIFICATE ELECTRICAL FACILITY 1AA</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">14</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>DISNAKER INSPECTION HOIST 1AA</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">15</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>DISNAKER INSPECTION HOIST 2AA</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">16</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>DINSOSNAKER INSPECTION</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">17</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>INTERNAL THICKNESS CHECK (CONTROL VALVE)</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">18</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>CERTIFICATION LIGHT AND GROUND SYSTEM</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">19</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>NDT CHECK FOR 0.6 MS LINE (OBJECTIVE)</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">20</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>PREHEAT AND RADIOGRAPHY FOR AE-1005C</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">21</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>AV-1301 B RADIOGRAPHY TEST (SPOT)</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">22</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>RADIOGRAPHY TEST OF PIPE HTS 1AA</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">23</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>AV-1611 TANK INSPECTION (BY DISNAKER)</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">24</th>
                  <td>PT. MMC METAL FABRICATION</td>
                  <td>PWHT HEAT EXCHANGER FOR RETUBING HE-8101 PT.ASC</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2019</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="pills-2018" role="tabpanel" aria-labelledby="pills-2018-tab">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">NO</th>
                  <th scope="col">NAME OF CLIENT</th>
                  <th scope="col">PROJECT</th>
                  <th scope="col">LOCATION</th>
                  <th scope="col">YEAR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>PT. WINTECO INDONESIA</td>
                  <td>POST WELD HEAT TREATMENT (PWHT SERVICE)</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>PT. SHINKO PLANTECH</td>
                  <td>RADIOGRAPHY AND THICKNESS INSPECTION</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>PT. ELNUSA TBK</td>
                  <td>POST WELD HEAT TREATMENT (PWHT SERVICE)</td>
                  <td>GRISSIK, COCOCHOPHILIPS-PALEMBANG</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>PT. SANKYU INDONESIA INTERNATIONAL</td>
                  <td>PWHT AND HARDNESS TEST PT.CAP PROJECT</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>DISNAKER INSPECTION (AE-1005C)</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>PT. SHINKO PLANTECH</td>
                  <td>PWHT AND HARDNESS TEST PT. NSI - ASDM</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>PT. DONGJIN INDONESIA</td>
                  <td>RADIOGRAPHY TEST</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>DISNAKER INSPECTION (1AA PLANT)</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>DISNAKER INSPECTION 2AA</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>PT. PP PERSERO TBK</td>
                  <td>ADD ON GRATI BLOK 2 150 MW POWER PLANT PROJECT</td>
                  <td>GRATI, PASURUAN-JAWA TIMUR</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">11</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>AV-1119 B TANK INSPECTION (BY DISNAKER)</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">12</th>
                  <td>PT. POLYCHEM INDONESIA</td>
                  <td>PWHT MAIN STEAM PIPE LINE</td>
                  <td>BOJONEGARA, CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">13</th>
                  <td>PT. SANKYU INDONESIA INTERNATIONAL</td>
                  <td>PWHT AND HARDNESS TEST SHELL EA-304</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">14</th>
                  <td>PT. SHINKO PLANTECH</td>
                  <td>PWHT AND WPS WORK FOR PT.CAP PROJECT</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">15</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>MAGNETIC TEST OF EXPANSION JOINT 1AA</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">16</th>
                  <td>PT. SHINKO PLANTECH</td>
                  <td>PWHT AND RADIOGRAPHY TEST</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">17</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>ELECTRIC FACILITY INSPECTION 2AA</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">18</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>DISNAKER INSPECTION SAP</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">19</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>ELECTRIC FACILITY INSPECTION SAP</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">20</th>
                  <td>PT. SHINKO PLANTECH</td>
                  <td>PWHT AND HARDNESS TEST</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">21</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>AV-1301 A TANK INSPECTION (BY DISNAKER)</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <th scope="row">22</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>RADIOGRAPHY TEST (SPOT) AV-1301 A</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2018</td>
                </tr>
              </tbody>
            </table> 
          </div>
          <div class="tab-pane fade" id="pills-2017" role="tabpanel" aria-labelledby="pills-2017-tab">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">NO</th>
                  <th scope="col">NAME OF CLIENT</th>
                  <th scope="col">PROJECT</th>
                  <th scope="col">LOCATION</th>
                  <th scope="col">YEAR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>PT. CONSOLIDATED ELECTRIC POWER ASIA</td>
                  <td>INSTAL STEAM OUTLET SHUT OF VALVE HRSG 2,1 DAN 2,2</td>
                  <td>PT. ENERGY SENGKANG - SULAWESI SELATAN</td>
                  <td>2017</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>PT. ENERGY SENGKANG</td>
                  <td>REPLACEMENT STEAM PIPE LINE</td>
                  <td>SULAWESI SELATAN</td>
                  <td>2017</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>PT. CIGADING HABEAM CENTRE</td>
                  <td>PEMERIKSAAN KUALITAS ULTRASONIC TEST</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2017</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>PT. NIPPON SHOKUBAI INDONESIA</td>
                  <td>RADIOGRAPHY TEST FOR 0.6 MS 2AA</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2017</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>PT. SANKYU INDONESIA INTERNATIONAL</td>
                  <td>POST WELD HEAT TREATMENT</td>
                  <td>PT. MERAK ENERGI-CILEGON</td>
                  <td>2017</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>PT. PUPUK KALTIM - JPP</td>
                  <td>POST WELD HEAT TREATMENT PABRIK 2</td>
                  <td>BONTANG-KALIMANTAN TIMUR</td>
                  <td>2017</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>PT. PUPUK KALTIM - JPP</td>
                  <td>POST WELD HEAT TREATMENT PABRIK 3</td>
                  <td>BONTANG-KALIMANTAN TIMUR</td>
                  <td>2017</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>PT. ELNUSA TBK</td>
                  <td>POST WELD HEAT TREATMENT</td>
                  <td>CONOCOPHILIPS-PALEMBANG</td>
                  <td>2017</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="pills-2016" role="tabpanel" aria-labelledby="pills-2016-tab">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">NO</th>
                  <th scope="col">NAME OF CLIENT</th>
                  <th scope="col">PROJECT</th>
                  <th scope="col">LOCATION</th>
                  <th scope="col">YEAR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>PT. BAKRIE CONSTRUCTION</td>
                  <td>WASAMBO DEVELOPMENT PROJECT</td>
                  <td>SENGKANG-SULAWESI SELATAN</td>
                  <td>2016</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>PT. PUPUK KALTIM - JPP</td>
                  <td>POST WELD HEAT TREATMENT PABRIK 1A</td>
                  <td>BONTANG-KALIMANTAN TIMUR</td>
                  <td>2016</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>PT. KRAKATAU DAYA LISTRIK</td>
                  <td>NDE UNRECOVERY STG CCPP TAHAP KE-2</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2016</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="pills-2015" role="tabpanel" aria-labelledby="pills-2015-tab">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">NO</th>
                  <th scope="col">NAME OF CLIENT</th>
                  <th scope="col">PROJECT</th>
                  <th scope="col">LOCATION</th>
                  <th scope="col">YEAR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>PT. BAINITA HEAT INDUSTRY</td>
                  <td>PWHT-MSG PT.REKAYASA INDUSTRY</td>
                  <td>LUWUK-SULAWESI SELATAN</td>
                  <td>2015</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>PT. SULFINDO ADIUSAHA</td>
                  <td>PWHT-UNIT SHELL H0674, D061, D063</td>
                  <td>SERANG-BANTEN</td>
                  <td>2015</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>PT. SANKYU INDONESIA INTERNATIONAL</td>
                  <td>CAP ECCX PROJECT</td>
                  <td>PT.CANDRA ASRI PETROCHEMICAL-CILEGON</td>
                  <td>2015</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>PT. SHINKO PLANTECH</td>
                  <td>ASAHIMAS PROJECT</td>
                  <td>PT. ASAHIMAS CHEMICAL-CILEGON</td>
                  <td>2015</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>PT. PP PERSERO TBK</td>
                  <td>PRE-HEAT 16 COUPLING GENERATOR</td>
                  <td>PLTMG 155 MW-BANGKANAI</td>
                  <td>2015</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>PT. SARANA ADHIKARYA UTAMA</td>
                  <td>POST WELD HEAT TREATMENT</td>
                  <td>WORKSHOP PT.SAU - PARAMITA INDUSTRIAL ESTATE BOGOR</td>
                  <td>2015</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>PT. ADHI KARYA</td>
                  <td>PERTAMINA CILACAP</td>
                  <td>CILACAP-JAWA TENGAH</td>
                  <td>2015</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>PT. BAINITA HEAT INDUSTRY</td>
                  <td>POST WELD HEAT TREATMENT</td>
                  <td>CIKARANG-JAWA BARAT</td>
                  <td>2015</td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>PT. BAINITA HEAT INDUSTRY</td>
                  <td>PWHT-MSG PT.REKAYASA INDUSTRY</td>
                  <td>LUWUK-SULAWESI SELATAN</td>
                  <td>2015</td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>PT. SULFINDO ADIUSAHA</td>
                  <td>PWHT-UNIT SHELL H0674, D061, D063</td>
                  <td>SERANG-BANTEN</td>
                  <td>2015</td>
                </tr>
                <tr>
                  <th scope="row">11</th>
                  <td>PT. SANKYU INDONESIA INTERNATIONAL</td>
                  <td>CAP ECCX PROJECT</td>
                  <td>PT.CANDRA ASRI PETROCHEMICAL-CILEGON</td>
                  <td>2015</td>
                </tr>
                <tr>
                  <th scope="row">12</th>
                  <td>PT. SHINKO PLANTECH</td>
                  <td>ASAHIMAS PROJECT</td>
                  <td>PT. ASAHIMAS CHEMICAL-CILEGON</td>
                  <td>2015</td>
                </tr>
                <tr>
                  <th scope="row">13</th>
                  <td>PT. PP PERSERO TBK</td>
                  <td>PRE-HEAT 16 COUPLING GENERATOR</td>
                  <td>PLTMG 155 MW-BANGKANAI</td>
                  <td>2015</td>
                </tr>
                <tr>
                  <th scope="row">14</th>
                  <td>PT. SARANA ADHIKARYA UTAMA</td>
                  <td>POST WELD HEAT TREATMENT</td>
                  <td>WORKSHOP PT.SAU - PARAMITA INDUSTRIAL ESTATE BOGOR</td>
                  <td>2015</td>
                </tr>
                <tr>
                  <th scope="row">15</th>
                  <td>PT. ADHI KARYA</td>
                  <td>PERTAMINA CILACAP</td>
                  <td>CILACAP-JAWA TENGAH</td>
                  <td>2015</td>
                </tr>
                <tr>
                  <th scope="row">16</th>
                  <td>PT. BAINITA HEAT INDUSTRY</td>
                  <td>POST WELD HEAT TREATMENT</td>
                  <td>CIKARANG-JAWA BARAT</td>
                  <td>2015</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="pills-2014" role="tabpanel" aria-labelledby="pills-2014-tab">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">NO</th>
                  <th scope="col">NAME OF CLIENT</th>
                  <th scope="col">PROJECT</th>
                  <th scope="col">LOCATION</th>
                  <th scope="col">YEAR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>PT. SUCOFINDO</td>
                  <td>PROJECT-PT.SUCOFINDO CABANG MEDANG</td>
                  <td>MEDAN-SUMATERA UTARA</td>
                  <td>2014</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>PT. NANI WAHYUNI INDUSTRIES</td>
                  <td>SHUTDOWN PT.DSS</td>
                  <td>SERANG-BANTEN</td>
                  <td>2014</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>PT. PP PERSERO TBK</td>
                  <td>PLTGU 3x40 MW</td>
                  <td>PT. KRAKATAU DAYA LISTRIK-CILEGON</td>
                  <td>2014</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>PT. SWADAYA GRAHA</td>
                  <td>PROJECT FABRIKASI DAN INSTALASI PIPA (AG) UTILITY PKT-V</td>
                  <td>PT. PUPUK KALTIM-BONTANG</td>
                  <td>2014</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="pills-2013" role="tabpanel" aria-labelledby="pills-2013-tab">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">NO</th>
                  <th scope="col">NAME OF CLIENT</th>
                  <th scope="col">PROJECT</th>
                  <th scope="col">LOCATION</th>
                  <th scope="col">YEAR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>PT. WINTECO INDONESIA</td>
                  <td>HPT TANK D 1805 C</td>
                  <td>PT. CHANDRA ASRI PETROCHEMICAL-CILEGON</td>
                  <td>2013</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>PT. INDOLINE PRATAMA</td>
                  <td>SERTIFIKASI EQUIPMENT</td>
                  <td>PT. KRAKATAU DAYA LISTRIK-CILEGON</td>
                  <td>2013</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>PT. PUNJ LLOYD INDONESIA</td>
                  <td>COAL BOILER PROJECT</td>
                  <td>PT. PLI TANJUNG TABALONG-KALIMANTAN SELATAN</td>
                  <td>2013</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>PT. ADHIKARYA PERSERO TBK</td>
                  <td>PROJECT PLTU LAMPUNG 2x100 MW </td>
                  <td>PT. ADHIKARYA PERSERO TBK-LAMPUNG SELATAN</td>
                  <td>2013</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>PT. AALBORG BOILER INDUSTRI</td>
                  <td>SHUTDOWN </td>
                  <td>PULO GADUNG-JAKARTA TIMUR</td>
                  <td>2013</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>PT. PP PERSERO TBK</td>
                  <td>PLTGU 3x40 MW</td>
                  <td>PT. KRAKATAU DAYA LISTRIK-CILEGON</td>
                  <td>2013</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>PT. SWADAYA GRAHA</td>
                  <td>PROJECT FABRIKASI DAN INSTALASI PIPA (AG) UTILITY PKT-V</td>
                  <td>PT. PUPUK KALTIM-BONTANG</td>
                  <td>2013</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>PT. TEMPURAN MAS INDONESIA</td>
                  <td>SHUTDOWN</td>
                  <td>TANJUNG PRIOK-JAKARTA UTARA</td>
                  <td>2013</td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>PT. NANI WAHYUNI INDUSTRIES</td>
                  <td>SHUTDOWN PT.EVONIK INDONESIA</td>
                  <td>KAWASAN INDUSTRI CIKARANG JABABEKA V</td>
                  <td>2013</td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>PT. BONGKAR MUAT OLEH JASA TRISANDI ANDAL</td>
                  <td>SHUTDOWN</td>
                  <td>TANJUNG PRIOK-JAKARTA UTARA</td>
                  <td>2013</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="pills-2012" role="tabpanel" aria-labelledby="pills-2012-tab">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">NO</th>
                  <th scope="col">NAME OF CLIENT</th>
                  <th scope="col">PROJECT</th>
                  <th scope="col">LOCATION</th>
                  <th scope="col">YEAR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>PT. INWHA INDONESIA</td>
                  <td>LBD PATRA SK-DUMAI</td>
                  <td>PT. INWHA INDONESIA SITE RIAU</td>
                  <td>2012</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>PT. PUNJ LLOYD INDONESIA</td>
                  <td>2x30 MW COAL FIRED POWER PLANT PROJECT</td>
                  <td>PT.PLI TANJUNG TABALONG-KALIMANTAN SELATAN</td>
                  <td>2012</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>PT. RADEEMA GRAHA SARANA</td>
                  <td>BMA PROJECT-PT.PETRO JAYA BORAL</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2012</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>PT. DIAN SWASTIKA SENTOSA</td>
                  <td>SHUTDOWN EPT PT.IKPP SERANG</td>
                  <td>SERANG-BANTEN</td>
                  <td>2012</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>PT. ADHIKARYA PERSERO TBK</td>
                  <td>PLTU 2x100 MW LAMPUNG</td>
                  <td>LAMPUNG SELATAN</td>
                  <td>2012</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>PT. SHINKO PLANTECH</td>
                  <td>SHUTDOWN ASAHIMAS</td>
                  <td>CILEGON-BANTEN</td>
                  <td>2012</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>PT. KRAKATAU ENGINEERING</td>
                  <td>AREA STEEL MAKING PLANT ISM KS-POSCO</td>
                  <td>KS POSCO CILEGON-BANTEN</td>
                  <td>2012</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>PT. INDOLINE PRATAMA</td>
                  <td>SERTIFIKASI EQUIPMENT</td>
                  <td>PT. KRAKATAU DAYA LISTRIK-CILEGON</td>
                  <td>2013</td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>PT. PUNJ LLOYD INDONESIA</td>
                  <td>COAL BOILER PROJECT</td>
                  <td>PT. PLI TANJUNG TABALONG-KALIMANTAN SELATAN</td>
                  <td>2013</td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>PT. ADHIKARYA PERSERO TBK</td>
                  <td>PLTU 2x100 MW LAMPUNG</td>
                  <td>LAMPUNG SELATAN</td>
                  <td>2012</td>
                </tr>
                <tr>
                  <th scope="row">11</th>
                  <td>PT. RADIANT UTAMA INTERENCO</td>
                  <td>ASAHIMAS PROJECT</td>
                  <td>PT. ASAHIMAS CHEMICAL-CILEGON BANTEN</td>
                  <td>2012</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
