<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- MY FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Viga" rel="stylesheet">

    <!-- MY CSS -->
    <link rel="stylesheet" href="../css/gallery-project.css">

    <!-- ICON TITLE BAR -->
    <link href='../img/icon-title.jpg' rel='shortcut icon'>

    <title>PT.SURYA BUANA MANDALA</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="../index.html">
          <img src="../img/logo.jpg" alt="">
        </a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"       aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"       id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="../index.html">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="../component/clients.html">Clients</a>
            <a class="nav-item nav-link" href="../component/experiences.html">Experiences</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Portfolio
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="../component/gallery-project.html">Gallery Project</a>
                <a class="dropdown-item" href="../component/work-method.html">Work Method</a>
                <a class="dropdown-item" href="../component/equipment-consumable.html">Equipment And Consumable</a>
              </div>
            </li>
            <a class="nav-item nav-link" href="../component/about.html">About Us</a>
            <a class="nav-item btn btn-outline-light" href="../component/contact.html">Contact Us</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- AKHIR NAVBAR -->
    <!-- SECTION -->
    <section class="portfolio" id="portfolio">
      <div class="container">
        <h1 class="display-4"><span>GALLERY PROJECT</span></h1>
        <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false">PWHT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">NDT AND TANK CERTIFICATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">PESAWAT ANGKAT ANGKUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-radiography-tab" data-toggle="pill" href="#pills-radiography" role="tab" aria-controls="pills-radiography" aria-selected="false">RADIOGRAPHY TEST</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row">
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/PWHT 6.jpg">
                </a>
            </div>
              <div class="col-lg-4">
                  <a href="" class="thumbnail">
                      <img src="../img/our work/PWHT 1.jpg">
                  </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/PWHT 2.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/PWHT 3.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/PWHT 4.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/PWHT 5.jpg">
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row">
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/eddycurrent testing surface crack.jpeg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/eddycurrent testing surface crack 2.jpeg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/eddycurrent testing tubing.jpeg">
                </a>
              </div>
              <div class="col-lg-4">
                  <a href="" class="thumbnail">
                      <img src="../img/our work/Hardness Test 1.jpg">
                  </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/Hardness Test 2.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/Hardness Test 3.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/Penetrantest 1.jpeg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/Penetrantest 2.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/Penetrantest 3.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/Penetrantest 3.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/Penetrantest 4.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/Plumbness.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/Ultrasonic Flaw Testing.jpeg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/Ultrasonic Flaw Testing 2.jpeg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/UT Flow 1.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/UT Flow 2.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/UT Flow 3.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/UT Flow 4.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/UT Thickness 1.jpeg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/UT Thickness 2.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/UT Thickness 3.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/UT Thickness 4.jpg">
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="row">
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/PAA 1.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/PAA 2.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/Loadtest 1.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/Loadtest 2.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/Loadtest 3.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/Loadtest 4.jpg">
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-radiography" role="tabpanel" aria-labelledby="pills-radiography-tab">
            <div class="row">
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/radiography 1.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/radiography 2.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/radiography 3.jpg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/radiography 4.jpeg">
                </a>
              </div>
              <div class="col-lg-4">
                <a href="" class="thumbnail">
                    <img src="../img/our work/radiography 5.jpg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- AKHIR SECTION -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
